extends layout

block content
  h1= title
  table
    thead
      tr
        th Game Title
        th Username
        th Score
    tbody
      each score in scores
        tr
          td= score.game_title
          td= score.username 
          td= score.score
