extends layout

block content
  h1= title
  a(href="/") Home
  hr

  form#search
    input#input(type="text", placeholder="Enter a username")
    input(id="submit", type="submit", value="Search")

  #results-wrapper
